.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  justify-content: center;
  padding: 10px;
  width: 100%;
  max-width: 1200px;
}

.card-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-controls button {
  font-size: 12px; /* Меньший размер шрифта для кнопок */
}

.fixed-icons {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px 0;
  border-top: 1px solid #f0f0f0;
}

.icon-link {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.cart-total {
  margin-left: 5px;
  font-weight: bold;
}

/* Медиа-запрос для экранов 600px и меньше */
@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(3, 1fr); /* Три карточки в ряду */
  }

  .card-controls {
  }

  .card-controls button {
    font-size: 15px; /* Меньший размер шрифта для кнопок на маленьких экранах */
    padding: 6px; /* Уменьшаем отступы */
  }

  .fixed-icons {
    font-size: 18px;
  }
}
